* {
margin:0;
padding:0;
}

html {
  height:100%;
}

body {
  height:inherit;
	font-family: "Comic Sans MS";
  background-color:grey;
  background-image:url("../img/design2_image1.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment:fixed;
}


/*  Se define un contenedor "header" que contiene 3 secciones: encabezado, banner y titulo1 */
header {
  width:100%;
  height:30%;
  position:relative;
  z-index:5;
}

section#encabezado {
  width:100%;
  height:75%;
  color:black;
  position:absolute;
  float:left;
  left:0%;
  z-index:10;
  display:flex;
  line-height: 3;
  font-size:2em;
  font-style:italic;
  text-shadow: 3px 3px 5px white;
}

section#encabezado h1{
  padding-left:2em;
}

section#titulo1 {
  position:absolute;
  float:left;
  bottom:0%;
  width:100%;
  height:25%;
  display: flex;
  justify-content: center;
  line-height: 1.8;
  color:white;
  background-color:black;
  z-index:10;
}

/*  El contenedor "logo" se deja libre y dependiente de body para tener libertad de accion */
div#logo {
  position:absolute;
  float:right;
  top:62.5%;
  right:10%;
  width:11%;
  height:50%;
  z-index:20;
  background-image:url("../img/nysl_logo.png");
  background-repeat: no-repeat;
  background-size:contain;
}

/*  Se define un contenedor "main" que contiene un aside y un article */
main {
  width:100%;
  height:70%;
  position:relative;
}

aside {
  width:20%;
  height:100%;
  float:left;
}
/*  El contenedor nav se integra al aside
    Contiene los links dispuestos en horizontal, con color de fondo y borde */
nav {
  position:absolute;
  float:left;
  width:inherit;
  height:inherit;
  top:0%;
  display: flex;
  flex-direction:column;
  justify-content:  space-around;
  align-items: center;
  background-color:rgba(0,0,0,.6);
}

/*  Se definen las caracteristicas de los links normales y visitados */
nav a:link , nav a:visited{
  display:block;
  width:40%;
  height:11%;
  line-height:3;
  text-align: center;
  color:white;
  border: 3px solid black;
  border-radius: 35%;
  background-color:darkblue;
  text-decoration: none;
  box-shadow: 5px 5px 10px black;
}

/*  Se definen las caracteristicas del link actual */
#actual {
  background-color:green;
}

article {
  width:74%;
  float:left;
  padding-left:2%;
  padding-right:4%;
  color:white;
  background-color:rgba(0,0,0,.6);
}

article#rules {
  text-shadow: 2px 2px black;
}

article#info {
  font-family: sans-serif;
  text-shadow: 0px;
}

article li {
  text-align:justify;
}

main h2 {
  text-align:center;
  margin-top:2em;
}

main h3 {
  padding-top:1em;
}

main ol.listanum1{
  padding-left:2em;
}

main ol.listanum1 li{
  padding-bottom:1em;
}

main ol.listanum2{
  list-style-type: lower-alpha;
  padding-left:2em;
}

main ol.listanum2 li{
  padding-bottom:0em;
}

main ol.listanum3{
  padding-left:2em;
}

main ol.listanum3 li{
  padding-bottom:0em;
}

main ul {
  list-style:square;
  padding-left: 2em;
}

main ul#item-redondo {
  list-style:circle;
  padding-left: 2em;
}

table, th, td {
  border: 1px solid white;
  border-collapse:collapse;
}

th {
  text-decoration:underline;
}

table#tabla1 {
  width:100%;
}

  